*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: blueviolet;
}
form{
    background-color: #fff;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
}
input{
    display: block;
    line-height: 1.4em;
    margin: 20px 100px;
    padding: 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
.btn{
    color: #fff;
    padding: 10px 30px ;
    border-radius: 30px;
    background-color: blueviolet;
    border: 1px solid #fff;
}
p{
    font-size: 14px;
    margin-left: 100px;
    display: block;
    color: #fff;
    padding: 5px 5px;
    width: 180px ;
}



@media (max-width=400px){
    body{ 
        height: 200vh;
        background-color: blueviolet;}
    form{
        width: 200px;
        padding: 20px 10px;
        position: absolute;
        transform: translate(-50% , -50%);
        top: 50%;
        left: 50%;
        border-radius: 8px;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
        text-align: center;
        
    }
    input{
        margin: 20px 50px;
        padding: 5px 5px;
    }
}


